<!DOCTYPE html>
<html>
<head>
	<title>Mongo Scraper</title>
{{!-- 	<link rel="stylesheet" type="text/css" href="/css/reset.css"> --}}
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/mongo.js"></script>
</head>
<body>
	 {{{ body }}}
</body>
</html>